/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

:root {
  --lightFont: 300;
  --RegularFont: 400;
  --BoldFont: 700;
  --BlackFont: 900;
  --mainWhite: #fffdfd;
  --PrimaryColor: #ebf2fb;
  --SecondaryColor: #a875fe;
  --Blue: #59b9ff;
  --GrayishBlue: #a6b6e3;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}
.App {
  color: #242d49;
  height: 100%;
}
.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background-color: var(--SecondaryColor);
  filter: blur(120px);
}
.btn-rounded {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-rounded:hover {
  transform: scale(1.05);
  transition: all 0.3s;
  cursor: pointer;
}
