.auth {
  background-image: url("../../assests/authBackground.jpg");
  object-fit: cover;
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.auth > div:nth-of-type(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--mainWhite);
}
.auth > div:nth-of-type(1) > svg {
  width: 2rem;
  height: 2rem;
}
.auth > div:nth-of-type(1) > svg > path {
  fill: var(--mainWhite);
}
.auth > div:nth-of-type(1) > span {
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  font-weight: var(--BoldFont);
}
.auth > form,
.auth > .loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
  height: fit-content;
  width: 20rem;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  padding: 2rem;
}
.auth > .loaderContainer {
  align-items: center;
}
.auth > form > span:nth-of-type(1) {
  justify-self: flex-start;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  font-weight: var(--BoldFont);
}
.auth > form > div {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 0.5rem;
}
.auth > form > div:focus-within {
  border: 2px solid var(--SecondaryColor);
}
.auth > form > div > svg {
  width: 1.2rem;
  height: 1.2rem;
}
.auth > form > div > input {
  background: transparent;
  color: white;
  outline: none;
  border: none;
  width: 98%;
  font-size: 1rem;
}
.auth > form > div > input::placeholder {
  color: rgba(255, 255, 255, 0.507);
}
.auth > form > button {
  width: 96%;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 0.5rem;
  background-color: white;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: var(--BoldFont);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.auth > form > button > svg {
  width: 1.2rem;
  height: 1.2rem;
}
.auth > form > button:hover {
  background-color: transparent;
  cursor: pointer;
  color: white;
}
.auth > div:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: white;
}
.auth > div:nth-of-type(2) > a,
.auth > div:nth-of-type(2) > span,
.auth > div:nth-of-type(2) > span > a {
  color: white;
  text-decoration: none;
  font-weight: var(--RegularFont);
}
.auth > form > svg {
  width: 9rem;
  height: 6rem;
  align-self: center;
}
.blur {
  display: none;
}
