.parentGrid {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: rgba(225, 235, 253, 0.35);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  height: 100%;
}
.sidebar {
  grid-area: 1 / 1 / 2 / 2;
}
.mainPanel {
  grid-area: 1 / 2 / 2 / 3;
}
.rightbar {
  grid-area: 1 / 3 / 2 / 4;
}
