.parentGrid {
  display: grid;
  grid-template-columns: 15% 65% 20%;
  grid-template-rows: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: var(--PrimaryColor);
  height: 100%;
}
.sidebar {
  grid-area: 1 / 1 / 2 / 2;
}
.mainPanel {
  grid-area: 1 / 2 / 2 / 3;
}
.rightSidebar {
  grid-area: 1 / 3 / 2 / 4;
}
