.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-inner {
  position: fixed;
  top: 0;
  right: 0;
}
.popup-inner > button {
  background: transparent;
  border: 0;
  height: 4rem;
  width: 4rem;
}
.popup-inner > button > svg {
  height: 2rem;
  width: 2rem;
  color: white;
  cursor: pointer;
}
.popup-inner > button > svg:hover {
  color: #242424;
}
.ShowPostPopup {
  background-color: var(--mainWhite);
  height: 80%;
  width: 70%;
  display: flex;
  flex-direction: row;
  -webkit-animation: slide-in-fwd-bottom 0.4s;
  -webkit-animation: slide-in-elliptic-bottom-fwd 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-bottom-fwd 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.leftS_ShowPostPopup {
  width: 50%;
}
.leftS_ShowPostPopup > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.rightS_ShowPostPopup {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
.rightS_ShowPostPopup > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #2a2a2a2b;
  padding-bottom: 10px;
}
.rightS_ShowPostPopup > div:nth-child(1) > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.rightS_ShowPostPopup > div:nth-child(1) > div > img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.rightS_ShowPostPopup > div:nth-child(1) > div > span {
  font-weight: var(--BoldFont);
  font-size: 1.1rem;
  color: #242d49;
}
.rightS_ShowPostPopup > div:nth-child(1) > a {
  text-decoration: none;
  color: var(--SecondaryColor);
  font-size: 1.1rem;
}
.rightS_ShowPostPopup > div:nth-child(2) {
  display: flex;
  width: 98%;
  height: 60%;
  border-bottom: 1px solid #2a2a2a2b;
}
.rightS_ShowPostPopup > div:nth-child(2) > span > span {
  font-size: 0.9rem;
  color: var(--GrayishBlue);
  padding-right: 7px;
}
.rightS_ShowPostPopup > div:nth-child(2) > span {
  font-size: 1.1rem;
  line-height: 1.8rem;
  text-align: justify;
}
.rightS_ShowPostPopup > div:nth-child(3) {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.rightS_ShowPostPopup > div:nth-child(3) > div {
  display: flex;
  gap: 10px;
}

.rightS_ShowPostPopup > div:nth-child(3) > div > svg {
  height: 1.4rem;
  width: 1.5rem;
  color: var(--GrayishBlue);
}
.rightS_ShowPostPopup > div:nth-child(3) > span:nth-of-type(1) {
  font-weight: var(--BoldFont);
  font-size: 1.1rem;
  color: #242d49;
}
.rightS_ShowPostPopup > div:nth-child(3) > span:nth-of-type(2) {
  font-size: 0.7rem;
  font-weight: var(--BoldFont);
  color: #242d499a;
}
.rightS_ShowPostPopup > div:nth-child(4) {
  border-top: 1px solid #2a2a2a2b;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
}
.rightS_ShowPostPopup > div:nth-child(4) > div > aside {
  position: absolute;
  bottom: 100%;
}
.rightS_ShowPostPopup > div:nth-child(4) > div > button {
  background-color: transparent;
  border: none;
}
.rightS_ShowPostPopup > div:nth-child(4) > div > button > svg {
  height: 1.4rem;
  width: 1.5rem;
  color: grayscale;
  cursor: pointer;
}
.rightS_ShowPostPopup > div:nth-child(4) > form {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.rightS_ShowPostPopup > div:nth-child(4) > form > input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  background: transparent;
  outline: none;
  font-size: 1rem;
}
.rightS_ShowPostPopup > div:nth-child(4) > form > input::placeholder {
  color: rgba(128, 128, 128, 0.503);
}
.rightS_ShowPostPopup > div:nth-child(4) > form > button {
  font-weight: var(--BoldFont);
  font-size: 1rem;
  color: #242d49;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-11-22 22:12:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-in-elliptic-bottom-fwd {
  0% {
    -webkit-transform: translateY(600px) rotateX(30deg) scale(0);
    transform: translateY(600px) rotateX(30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% -1400px;
    transform-origin: 50% -1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-bottom-fwd {
  0% {
    -webkit-transform: translateY(600px) rotateX(30deg) scale(0);
    transform: translateY(600px) rotateX(30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% -1400px;
    transform-origin: 50% -1400px;
    opacity: 1;
  }
}
