.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-inner {
  position: fixed;
  top: 0;
  right: 0;
}
.popup-inner > button {
  background: transparent;
  border: 0;
  height: 4rem;
  width: 4rem;
}
.popup-inner > button > svg {
  height: 2rem;
  width: 2rem;
  color: white;
  cursor: pointer;
}
.popup-inner > button > svg:hover {
  color: #242424;
}
.ShowPostPopup {
  background-color: var(--mainWhite);
  height: 80%;
  width: 70%;
  display: flex;
  flex-direction: row;
  -webkit-animation: slide-in-fwd-bottom 0.4s;
  -webkit-animation: slide-in-elliptic-bottom-fwd 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-bottom-fwd 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.leftS_ShowPostPopup,
.leftS_CreatePostPopup {
  width: 60%;
}
.leftS_ShowPostPopup > div > {
  height: 100%;
}
.leftS_ShowPostPopup > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  background-color: #242424;
}
.rightS_ShowPostPopup {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  justify-content: space-between;
}
.rightS_ShowPostPopup > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #2a2a2a2b;
  padding-bottom: 10px;
}
.rightS_ShowPostPopup > div:nth-child(1) > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.rightS_ShowPostPopup > div:nth-child(1) > div > img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.rightS_ShowPostPopup > div:nth-child(1) > div > span {
  font-weight: var(--BoldFont);
  font-size: 1.1rem;
  color: #242d49;
}
.rightS_ShowPostPopup > div:nth-child(1) > a {
  text-decoration: none;
  color: var(--SecondaryColor);
  font-size: 1.1rem;
}
.rightS_ShowPostPopup > div:nth-child(2) {
  display: flex;
  width: 98%;
  height: 100%;
  border-bottom: 1px solid #2a2a2a2b;
  flex-direction: column;
  gap: 10px;
  overflow: scroll;
  overflow-x: hidden;
}
.rightS_ShowPostPopup > div:nth-child(2)::-webkit-scrollbar {
  width: 6px;
}
.rightS_ShowPostPopup > div:nth-child(2) > span > span {
  font-size: 0.9rem;
  color: var(--GrayishBlue);
  padding-right: 7px;
}
.rightS_ShowPostPopup > div:nth-child(2) > span {
  font-size: 1.1rem;
  line-height: 1.8rem;
  text-align: justify;
}
.rightS_ShowPostPopup > div:nth-child(3) {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.rightS_ShowPostPopup > div:nth-child(3) > div {
  display: flex;
  gap: 10px;
}

.rightS_ShowPostPopup > div:nth-child(3) > div > svg {
  height: 1.4rem;
  width: 1.5rem;
  color: var(--GrayishBlue);
}
.rightS_ShowPostPopup > div:nth-child(3) > span:nth-of-type(1) {
  font-weight: var(--BoldFont);
  font-size: 1.1rem;
  color: #242d49;
}
.rightS_ShowPostPopup > div:nth-child(3) > span:nth-of-type(2) {
  font-size: 0.7rem;
  font-weight: var(--BoldFont);
  color: #242d499a;
}
.rightS_ShowPostPopup > div:nth-child(4) {
  border-top: 1px solid #2a2a2a2b;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
}
.rightS_ShowPostPopup > div:nth-child(4) > div > aside {
  position: absolute;
  bottom: 100%;
}
.rightS_ShowPostPopup > div:nth-child(4) > div > button {
  background-color: transparent;
  border: none;
}
.rightS_ShowPostPopup > div:nth-child(4) > div > button > svg {
  height: 1.4rem;
  width: 1.5rem;
  color: grayscale;
  cursor: pointer;
}
.rightS_ShowPostPopup > div:nth-child(4) > form {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.rightS_ShowPostPopup > div:nth-child(4) > form > input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  background: transparent;
  outline: none;
  font-size: 1rem;
}
.rightS_ShowPostPopup > div:nth-child(4) > form > input::placeholder {
  color: rgba(128, 128, 128, 0.503);
}
.rightS_ShowPostPopup > div:nth-child(4) > form > button {
  font-weight: var(--BoldFont);
  font-size: 1rem;
  color: #242d49;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.CreatePostPopup {
  background-color: var(--mainWhite);
  height: 60%;
  width: 50%;
  display: flex;
  flex-direction: row;
  -webkit-animation: slide-in-fwd-bottom 0.4s;
  -webkit-animation: slide-in-elliptic-bottom-fwd 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-bottom-fwd 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.editProfilePopup {
  background-color: var(--mainWhite);
  height: 40%;
  width: 40%;
  display: flex;
  flex-direction: row;
  animation: slide-in-elliptic-bottom-fwd 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  border-radius: 10px;
}
.FileUploader {
  height: 100% !important;
  width: 100%;
  border: none !important;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}
.FileUploader > svg {
  position: absolute;
  top: 36%;
  width: 3rem;
  height: 3rem;
}
.FileUploader > svg > path {
  fill: var(--SecondaryColor);
}
.FileUploader > div > span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  gap: 5px;
  font-weight: var(--BoldFont);
  max-width: 100% !important;
  padding-right: 5px;
}
.leftS_CreatePostPopup > div {
  position: relative;
  height: 100%;
}
.leftS_CreatePostPopup > div > img {
  width: 100%;
  object-fit: contain;
  object-position: center;
  background-color: #242424;
}
.leftS_CreatePostPopup > div > button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #242424b2;
  color: white;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
}
.rightS_CreatePostPopup {
  width: 40%;
  border-left: 1px solid #242d499a;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  position: relative;
}
.rightS_CreatePostPopup > span {
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  font-weight: var(--BlackFont);
  font-style: bold;
  color: #242d49;
  padding-bottom: 1rem;
  border-bottom: 1px solid #242d499a;
}
.rightS_CreatePostPopup > div:nth-of-type(1) {
  position: relative;
  width: fit-content;
  position: absolute;
  bottom: 11%;
  right: 3%;
}
.rightS_CreatePostPopup > div:nth-of-type(1) > aside {
  position: absolute;
  bottom: 100%;
}
.rightS_CreatePostPopup > div:nth-of-type(1) > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.rightS_CreatePostPopup > div:nth-of-type(1) > button > svg {
  height: 1.5rem;
  width: 1.5rem;
  color: #242d49;
  cursor: pointer;
}
.rightS_CreatePostPopup > form {
  height: 100%;
}
.rightS_CreatePostPopup > form > textarea {
  width: 100%;
  height: 90%;
  resize: unset;
  border: none;
  background: transparent;
  font-family: "Lato", sans-serif;
  font-weight: var(--RegularFont);
  font-size: 1rem;
  outline: none;
}
.rightS_CreatePostPopup > form > button {
  font-weight: var(--BoldFont);
  font-size: 0.9rem;
  color: white;
  background-color: var(--SecondaryColor);
  width: 100%;
  padding: 0.6rem 0.7rem;
  border-radius: 10px;
  border: 1px solid var(--SecondaryColor);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.rightS_CreatePostPopup > form > button > svg {
  width: 1.2rem;
  height: 1.2rem;
}
.rightS_CreatePostPopup > form > button:hover {
  color: #242d49;
  background-color: transparent;
  border: 1px solid #2a2a2a2b;
  cursor: pointer;
}

.leftS_EditProfile,
.rightS_EditProfile {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.leftS_EditProfile {
  border-right: 1px solid #242d499a;
}
.leftS_EditProfile > img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}
.leftS_EditProfile > button {
  font-size: 1rem;
  font-weight: var(--BoldFont);
  border: 0;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.6rem 0.7rem;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.leftS_EditProfile > button > svg {
  width: 1.4rem;
  height: 1.4rem;
}
.leftS_EditProfile > button:hover {
  background-color: var(--SecondaryColor);
  color: white;
  cursor: pointer;
}
.rightS_EditProfile > form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  gap: 1rem;
}
.rightS_EditProfile > form > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
}
.rightS_EditProfile > form > input {
  background-color: transparent;
  width: 20rem;
  padding: 10px 10px 10px 0;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: var(--BoldFont);
  color: #242d49;
  border: none;
  border-bottom: 1px solid #242d49;
  outline: none;
}
.rightS_EditProfile > form > span {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: var(--RegularFont);
  color: #242d49;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-11-22 22:12:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-in-elliptic-bottom-fwd {
  0% {
    -webkit-transform: translateY(600px) rotateX(30deg) scale(0);
    transform: translateY(600px) rotateX(30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% -1400px;
    transform-origin: 50% -1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-bottom-fwd {
  0% {
    -webkit-transform: translateY(600px) rotateX(30deg) scale(0);
    transform: translateY(600px) rotateX(30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% -1400px;
    transform-origin: 50% -1400px;
    opacity: 1;
  }
}
