.ProfileCard {
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(5.5px);
  border-radius: 20px;
}
.ProfileCardImages {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ProfileCardImages > img:nth-of-type(1) {
  width: 100%;
  height: 7rem;
  object-fit: cover;
  object-position: bottom;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.ProfileCardImages > img:nth-of-type(2) {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  object-fit: fill;
  object-position: center;
  position: absolute;
  bottom: -3rem;
}
.ProfileCardData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.6rem 0;
}
.primaryInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  width: 90%;
  border-bottom: 1px solid #2a2a2a2b;
  padding-bottom: 1rem;
}
.primaryInfo > :nth-child(1) {
  font-weight: var(--BoldFont);
  font-size: 1.2rem;
  color: #242d49;
}
.followingInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  border-bottom: 1px solid #2a2a2a2b;
  padding-bottom: 1rem;
}
.followingInfo > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  padding: 0 3rem;
}
.followingInfo > div:nth-of-type(1) {
  border-right: 1px solid #2a2a2a2b;
}
.followingInfo > div > :nth-child(1) {
  font-weight: var(--BoldFont);
  font-size: 1.1rem;
  color: #242d49;
}
.followingInfo > div > :nth-child(2) {
  font-size: 1rem;
  color: var(--GrayishBlue);
}
.ProfileCardData > :nth-child(3) > span {
  color: var(--SecondaryColor);
  font-weight: var(--BoldFont);
  font-size: 1.1rem;
}
.ProfileCardData > :nth-child(3) {
  padding-bottom: 1rem;
}
.suggestionCard {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
.suggestionCard > :nth-child(1) {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.suggestionCard > :nth-child(1) > img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.suggestionCard > :nth-child(1) > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.suggestionCard > :nth-child(1) > div > span:nth-of-type(1) {
  font-weight: var(--BoldFont);
  font-size: 1.1rem;
  color: #242d49;
}
.suggestionCard > :nth-child(1) > div > span:nth-of-type(2) {
  font-size: 1rem;
  color: var(--GrayishBlue);
}
.suggestionCardBtn {
  font-weight: var(--BoldFont);
  font-size: 0.9rem;
  color: white;
  background-color: var(--SecondaryColor);
  border: 0;
  width: 6rem;
  padding: 0.6rem 0.7rem;
  border-radius: 10px;
}
.followed,
.suggestionCardBtn:hover,
.btnViewPost:hover {
  color: #242d49;
  background-color: transparent;
  border: 1px solid #2a2a2a2b;
  cursor: pointer;
}
.suggestionCardBtn.followed:hover {
  color: white;
  background-color: var(--SecondaryColor);
  cursor: pointer;
}

.FriendsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.FriendsCard > img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--SecondaryColor);
  padding: 3px;
}
.FriendsCard > span {
  font-weight: var(--BoldFont);
  font-size: 1rem;
  color: #242d49;
}

.FeedCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 1rem;
}
.FeedCard > div:nth-of-type(1) {
  position: relative;
}

.FeedCard > div:nth-of-type(1) > img {
  height: 15rem;
  width: 20rem;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
  border: 3px solid white;
  transition: 0.5s ease;
}
.FeedCard > div:nth-of-type(1):hover > img {
  opacity: 0.3;
  cursor: pointer;
}
.FeedCard > div:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.FeedPublisher {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.FeedPublisher > img {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  object-fit: cover;
}
.FeedPublisher > span {
  font-weight: var(--BoldFont);
  font-size: 1rem;
  color: #242d49;
}
.FeedStats {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.FeedStats > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1px;
}
.FeedStats > div > button {
  background: transparent;
  border: none;
}
.FeedStats > div > button > svg {
  height: 1.4rem;
  width: 1.5rem;
  color: var(--GrayishBlue);
}
.FeedStats > div > button > svg:hover {
  cursor: pointer;
}

.FeedStats > div > span {
  color: var(--GrayishBlue);
  font-weight: var(--BoldFont);
  font-size: 1rem;
}
.btnLike > svg {
  color: rgb(221, 37, 37) !important;
}
.FeedCardImage {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.FeedCard > div:nth-of-type(1):hover > .FeedCardImage {
  opacity: 1;
}
.btnViewPost {
  font-weight: var(--BoldFont);
  font-size: 0.9rem;
  color: white;
  background-color: var(--SecondaryColor);
  width: 7.1rem;
  padding: 0.6rem 0.7rem;
  border-radius: 10px;
  border: 1px solid var(--SecondaryColor);
  display: flex;
  align-items: center;
  gap: 6px;
}
.CommentCard {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: center;
}
.CommentCard > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.CommentCard > div:nth-child(1) > img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.CommentCard > div:nth-child(1) > span {
  width: 100%;
}
.CommentCard > div:nth-child(1) > span > span {
  font-size: 0.9rem;
  font-weight: var(--BoldFont);
  padding-right: 7px;
}
.CommentCard > div:nth-child(1) > button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.CommentCard > div:nth-child(1) > button > svg {
  color: #242d49;
  height: 1.2rem;
  width: 1.2rem;
}
.CommentCard > div:nth-child(1) > button:hover > svg {
  color: rgb(221, 37, 37) !important;
}
.CommentCard > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-left: 2.5rem;
}
.CommentCard > div:nth-child(2) > span {
  font-size: 0.7rem;
  font-weight: var(--BoldFont);
  color: #242d499a;
}
/*--------------------------------------------*/
.messagesCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  gap: 1rem;
  padding: 1rem 19px;
  border-radius: 10px;
}
.messagesCard > img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
}
.messagesCard > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  height: 100%;
  width: 100%;
}
.messagesCard > div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.messagesCard > div > div > span:nth-child(1) {
  font-weight: var(--BoldFont);
  font-size: 1.2rem;
  color: var(--mainWhite);
}
.messagesCard > div > div > span:nth-child(2) {
  font-weight: var(--BoldFont);
  font-size: 0.8rem;
  color: var(--mainWhite);
}
.messagesCard > div > span {
  font-size: 1rem;
  color: var(--GrayishBlue);
}
.messagesCard:hover {
  background-color: #3e4765;
  cursor: pointer;
}
